.form {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-bottom: $l-size;

    &>* {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin-bottom: $s-size;
    font-size: italic;
}