.list-header {
    background-color: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $xs-size $s-size;
}

.list-item {
    background-color: transparent;
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $graphite;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background-color .3s ease;

    &:hover {
        background-color: $off-white;
    }

    &:last-child {
        margin-bottom: $l-size;
    }

    &__amount {
        display: block;
        margin: $s-size 0 0 0;
    }

    &__title {
        word-break: break-all;

        h3 {
            margin: 0;
        }
    }

    &__subtitle {
        font-size: $font-size-small;
    }

    &--message {
        align-items: center;
        justify-content: center;
        padding: $m-size;

        &:hover {
            background-color: transparent;
        }
    }
}

@media(min-width: $desktop-breakpoint) {

    .list-header,
    .list-item {
        &__title {
            flex: 1 1 50%;
            padding-right: $m-size;
        }

        &__date {
            flex: 0 0 10%;
        }

        &__amount {
            flex: 2 1 10%;
            justify-content: right;
            text-align: right;
            word-wrap: anywhere;
        }
    }

    .list-header {
        &__title,
        &__date,
        &__amount {
            align-items: center;
            display: flex;
        }
    }

    .list-item {
        align-items: end;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;

        &__amount {
            margin: 0;
            padding-left: $l-size;
        }
    }
}